:root {
    --primary: rgb(146, 173, 148,1);
    --secondary: rgb(142, 59, 70,1);
    --tertiary: rgb(157, 105, 22,1);
    --quatenary: rgb(80, 61, 66,1);
    --primary-dark: rgb(73, 91, 74);
    --dark: rgb(9, 8, 33,1);
    --light: rgb(245, 251, 239,1);

    --text: 'Lora', serif;
    --heading: 'Sono', sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    
    font-family: var(--text);
    font-weight: 400;
}

button {
    height: 2rem;
    width: 10rem;
    outline: none;
    border: none;
    background-color: var(--primary);
    color: var(--dark);
    cursor: pointer;
    
    font-family: var(--heading);
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
}

input {
    height: 1.5rem;
    outline: none;
    border: 2px solid var(--quatenary);
    padding: 0 0.5rem 0 0.5rem;
    font-family: var(--text);
    color: var(--quatenary);
}


.container {
    width: min(90%,1000px);
}

.page-title {
    align-self: flex-start;
}

.form-container {
    border: 2px solid var(--dark);
    padding: 1rem;
    margin: 1.5rem 0 1.5rem 0;
}

.form-row {
    display: flex;
    margin-bottom: 1rem;
}

.form-row p {
    display:inline;
    margin: 0 0 0 0.5rem;
}

.input-label {
    width: 20%;
    text-align: right;
    margin-right: 1rem;
}

.hidden {
    display: none;
    visibility: hidden;
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) ;
    background-color: var(--light);
    width: 90%;
}

.book {
    background-color: var(--tertiary);
    color: var(--light);
    padding: 5px;
    margin: 5px;
}