:root {
    --primary: rgb(215, 65, 167, 1);
    --secondary: rgb(58, 23, 114, 1);
    --tertiary: rgb(222, 165, 75, 1);
    --primary-dark: rgb(118, 25, 88, 1);
    --dark: rgb(9, 8, 33, 1);
    --light: rgb(240, 246, 249, 1);
    --white: rgb(250,250,250,1);
    --neutral: rgb(203, 203, 203);

    --text: 'Raleway', serif;
    --heading: 'Sono', sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    
    font-family: var(--text);
    font-weight: 400;
}

button {
    height: 2rem;
    width: 10rem;
    outline: none;
    border: none;
    background-color: var(--primary);
    color: var(--white);
    cursor: pointer;
    
    font-family: var(--heading);
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
}

button[id='btn-cancel'] {
    background-color: var(--neutral);
    color: var(--dark);
}

input {
    height: 1.5rem;
    outline: none;
    border: 2px solid var(--tertiary);
    padding: 0 0.5rem 0 0.5rem;
    font-family: var(--text);
    color: var(--secondary);
}

input[type='checkbox'] {
    accent-color: var(--tertiary);
    height: 14px;
}

.container {
    width: min(90%,1000px);
    display: flex;
    flex-direction: column;
}

.page-title {
    align-self: flex-start;
}

.form-container {
    border: 2px solid var(--tertiary);
    padding: 1rem;
    margin: 1.5rem 0 1.5rem 0;
}

.form-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.form-row p {
    display:inline;
    margin: 0 0 0 0.5rem;
    color: var(--secondary);
}

.input-label {
    width: 20%;
    text-align: right;
    margin-right: 1rem;
    color: var(--secondary);
}

.hidden {
    display: none;
    visibility: hidden;
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) ;
    background-color: var(--light);
}

.book {
    background-color: var(--secondary);
    color: var(--light);
    padding: 10px;
    margin: 10px;
}

.book button {
    width: 100%;
    

    background-color: var(--tertiary);
    font-size: 0.9rem;
}

.book button:first-of-type {
    margin-bottom: 10px;
}